@model BanHangDienTu.Models.khachhang

@{
    ViewBag.Title = "DangKy";
    Layout = "~/Views/Shared/_LayoutDangKyDangNhap.cshtml";
}

<div class="container">

    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Tạo mới tài khoản</h1>
                        </div>
                        @using (Html.BeginForm("DangKy", "KhachHang", FormMethod.Post, new { @class = "user" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="exampleFirstName" name="khachhang_ten"
                                           placeholder="Nhập tên của bạn" required pattern="\S+.*">
                                </div>
                                <div class="col-sm-6">
                                    <input type="date" class="form-control form-control-user" id="exampleLastName" name="khachhang_ngaysinh" required pattern="\S+.*">
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control form-control-user" name="khachhang_diachi" id="exampleInputEmail"
                                       placeholder="Nhập địa chỉ của bạn" required pattern="\S+.*">
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control form-control-user" name="khachhang_email" id="exampleInputEmail"
                                       placeholder="Nhập Email của bạn" required pattern="\S+.*">
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input type="number" class="form-control form-control-user" min="0"
                                           id="exampleInputPassword" placeholder="Số điện thoại" name="khachhang_sdt" required pattern="\S+.*">
                                </div>
                                <div class="col-sm-6">
                                    <input type="password" class="form-control form-control-user"
                                           id="exampleRepeatPassword" placeholder="Mật khẩu" name="khachhang_matkhau" required pattern="\S+.*">
                                </div>
                            </div>
                            <input type="number" value="1" name="trangthai_id" class="hide" />
                            <button type="submit" href="login.html" class="btn btn-primary btn-user btn-block">
                                Đăng ký
                            </button>
                            
                            }
                            <hr>
                            <div class="text-center">
                                <a class="small" href="forgot-password.html">Quên mật khẩu?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="@Url.Action("Login","KhachHang")">Bạn đã có tài khoản? Đăng nhập ngay!</a>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>

</div>